/*!
 * Variables
 * @tutorial https://web.dev/at-property/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-4/css-variables
 */

:root {
  /* Add your CSS variables here */

  --backgr-dark-1: #01191f;
  --light-blue-1: rgb(32, 87, 110);
  --lighter-blue-1: rgb(180, 234, 247);
  --img-pkaceholder-clr: rgba(80, 80, 80, 0.553);
}
